name: Standard CI

# Trigger
on: push 

jobs:

    lint:
        name: Lint 
        runs-on: unbuntu@latest

        steps: 
            - name: Checkout latest code
              uses: actions/checkout@v4

            - name: Setup Nodejs
              uses: actions/setup-node@v4
              with:
                node-version: 18
            
            - name: Install dependencies
              run: npm install

            - name: Run lint
              run: npm run lint

    build:
        name: Build 
        runs-on: unbuntu@latest
        needs: lint

        steps: 
            - name: Checkout latest code
              uses: actions/checkout@v4

            - name: Setup Nodejs
              uses: actions/setup-node@v4
              with:
                node-version: 18
            
            - name: Install dependencies
              run: npm install
            
            - name: Run build
              run: npm run build

    
    test:
        name: Test
        runs-on: unbuntu@latest
        needs: build

        steps: 
            - name: Checkout latest code
              uses: actions/checkout@v4

            - name: Setup Nodejs
              uses: actions/setup-node@v4
              with:
                node-version: 18
            
            - name: Install dependencies
              run: npm install
            
            - name: Run build
              run: npm run build

            - name: Run test
              run: npm run test
            
            - name: Run deploy
              run: npm run deploy
    
    deploy:
        name: Deploy
        runs-on: unbuntu@latest
        needs: test

        steps: 
            - name: Checkout latest code
              uses: actions/checkout@v4

            - name: Setup Nodejs
              uses: actions/setup-node@v4
              with:
                node-version: 18
            
            - name: Install dependencies
              run: npm install
            
            - name: Run deploy
              run: npm run deploy
    
   